div:hover {
    border: 1px #000000 solid;
}

div:nth-of-type(1) {
    background-color: red;
}

div:nth-of-type(2) {
    background-color: green;
}

div:nth-of-type(3) {
    background-color: orange;
}

div:nth-of-type(4) {
    background-color: blue;
}

div:nth-of-type(5) {
    background-color: purple;
}

div:nth-of-type(2) > h3 {
    text-decoration: line-through;
}

div:nth-of-type(3) > h3 {
    font-style: italic;
}

div:nth-of-type(4) > h3 {
    color: white;
}

div:nth-of-type(5) > h3 {
    font-family: cursive;
}

div:nth-of-type(3) {
    font-size: 70px;
}

/* Deixar somente as linhas ímpares em itálico. Ímpar = odd */
div:nth-child(odd) h3 {
    font-style: italic;
}