.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    margin-top: 300px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    margin-left: 200px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-top: 65px;
    margin-left: 225px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-top: 130px;
    margin-left: 500px;
  }